<div class="modal-content">
    <div class="modal-body ng-scope">
        <div class="row">
            <div ng-show="fail" class="alert alert-info alert-dismissable ng-binding ng-hide">
                <i class="fa fa-coffee"></i>
            </div>
            <form class="form-horizontal ng-pristine ng-valid" role="form">
                <div class="form-group">
                    <div class="input-group login-input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input ng-model="oldpass" placeholder="Password" class="form-control ng-pristine ng-valid ng-touched" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group login-input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input ng-model="newpass" placeholder="New Password" class="form-control ng-pristine ng-valid ng-touched" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group login-input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input ng-model="newpass2" placeholder="Confirm Password" class="form-control ng-pristine ng-valid ng-touched" type="password">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="modal-footer login-modal-footer" ng-show="!signUpClicked">
        <button id="clickText" type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</div><!-- /.modal-content -->
